<h1>Grading Worksheet</h1>

<table frame="hsides">
  <tr>
    <th>Student&nbspID&nbsp</th>
    <th>Student&nbspName&nbsp</th>
    <th>Nick&nbspName&nbsp</th>
    <th>Project(40%)&nbsp</th>
    <th>Final(40%)&nbsp</th>
    <th>Lab(10%)&nbsp</th>
    <th>Class(10%)&nbsp</th>
    <th>Final&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
  </tr>
  <tr>
    <th>&nbsp</th>
    <th>(Chinese)</th>
    <th>(English)</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
    <th>&nbsp</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.studentid %></td>
    <td><%= student.studentname %></td>
    <td><%= student.nickname %></td>
    <td><%= student.projectscore %>%</td>
    <td><%= student.finalscore %>%</td>
    <td><%= student.labscore %>%</td>
    <td><%= student.classscore %>%</td>
    <td><%= student.final %>%</td>
    <td><%= link_to 'Show', student %></td>
    <td><%= link_to 'Edit', edit_student_path(student) %></td>
    <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<div class="lk"><%= link_to 'New Student', new_student_path %></div>
<div class="lk"><%= will_paginate @students, previous_label: 'Prev', next_label: 'Next' %></div>
